<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DigiShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ASPSession.styles.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>


<body>
    <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand mb-0 h1">
                <img class="d-inline-block rounded"
                     src="https://aidn-inla.be/content/uploads/2015/12/nus-logo-225x154.png"
                     width="70" height="50" />
                DigiShop
            </a>

            <button type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                    class="navbar-toggler"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse"
                 id="navbarNav">

                 <div>
                    <a class="navbar-brand mb-0 h1"></a>
                 </div>
                   

                <ul class="navbar-nav">

                    <li class="nav-item active">
                        <a href="@Url.Action("Main", null, new { area = string.Empty, controller = "Home" })"
                           class="nav-link">
                            Home
                        </a>
                    </li>
                    
                    <li class="nav-item active" id="logintag">
                        <a href="@Url.Action("LoginPage", null, new { area = string.Empty, controller = "UserAccess" })"
                           class="nav-link">
                           Login
                        </a>

                    </li>

                    <li class="fixed-right nav-item active">
                        <a href="@Url.Action("MyPurchases", null, new { area = string.Empty, controller = "Home" })"
                           class="nav-link">
                            My Purchases
                        </a>
                    </li>

                    <li class="nav-item" id="shopC">
                        <a class="nav-link"
                           href="@Url.Action("Cart", null, new { area = string.Empty, controller = "Home" })"
                            <span>
                                <img class="d-inline-block align-top"
                                     src="/images/shoppingCart.png"
                                     width="20" height="20" />
                            </span>
                            <span class="badge badge-pill bg-danger">
                                0
                            </span>
                        </a>
                    </li>
                </ul>
            </div>

            <form class="d-flex" role="search" action="/Home/Search" method="POST" id="searchF">
                <input class="form-control me-2" type="search" autocomplete="off" name="searchStr" placeholder="Enter Product Name" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>

        </div>
    </nav>

    <style>
        body {
            margin: 1px;
        }

        .my-row {
            border: 1px solid white;
        }

        .my-col {
            border: 1px solid white;
        }

        body {
            padding-top: 80px;
        }
    </style>


        <main role="main" class="pb-3">
            @RenderBody()
        </main>
  

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>

